<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760011659871-beng9ueh1pf9sa3a9qaqcqvbetmrk6ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760011659871-beng9ueh1pf9sa3a9qaqcqvbetmrk6ee</string>
	<key>API_KEY</key>
	<string>AIzaSyDsGPyKfGMAo87diSvjxcJAx8QCiyiG4Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>760011659871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damiangawronski.kebabSnd</string>
	<key>PROJECT_ID</key>
	<string>kebab-snd</string>
	<key>STORAGE_BUCKET</key>
	<string>kebab-snd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760011659871:ios:6283d570f76c54478e99ea</string>
</dict>
</plist>